Q1. What is a Common Table Expression (CTE), and how does it improve SQL query readability?

```
A Common Table Expression (CTE) is a temporary named result set in SQL that exists only for the duration of a single query. It is defined using the WITH keyword and can be referenced like a table in the main query.

How CTE Improves SQL Query Readability
 1. Makes queries easier to understand
    CTEs replace complex subqueries with meaningful names, making the logic clear.

2.Improves structure and organization
   Complex logic can be broken into smaller, logical steps, similar to functions in programming.

3.Easier debugging and maintenance
  Each CTE can be understood and modified independently.

4.Reusability within the same query
  The same CTE can be referenced multiple times in a single query.
```
Q2. Why are some views updatable while others are read-only? Explain with an example.


```
In SQL, a view is a virtual table based on the result of a SELECT query.
Whether a view is updatable or read-only depends on how the view is defined.

Updatable Views
A view is updatable when SQL can clearly map each row in the view to exactly one row in a single base table.

Conditions for an Updatable View
A view is usually updatable if:
  It is based on only one table
  It does not use:
    1. JOIN
    2. GROUP BY
    3.DISTINCT
    4.Aggregate functions (SUM, AVG, COUNT, etc.)
    5.HAVING
    6.Subqueries in the SELECT list
```
Q3. What advantages do stored procedures offer compared to writing raw SQL queries repeatedly?


```
A stored procedure is a precompiled set of SQL statements stored in the database and executed as a single unit. Using stored procedures offers several benefits compared to writing raw SQL queries repeatedly.

| Feature     | Stored Procedure | Raw SQL   |
| ----------- | ---------------- | --------- |
| Reusability | High             | Low       |
| Performance | Better           | Lower     |
| Security    | Strong           | Weaker    |
| Maintenance | Easy             | Difficult |

```
Q4. What is the purpose of triggers in a database? Mention one use case where a trigger is essential.


```
A trigger is a special type of database object that automatically executes (fires) in response to specific events on a table or view, such as:

INSERT
UPDATE
DELETE

Triggers run implicitly, meaning they do not need to be called manually.

# Essential Use Case of a Trigger

Audit Log for Data Changes
  A trigger is essential when you must track who changed what and when, without relying on the application layer.


CREATE TRIGGER log_salary_update
AFTER UPDATE ON employees
FOR EACH ROW
BEGIN
    INSERT INTO salary_audit(emp_id, old_salary, new_salary, changed_on)
    VALUES (OLD.emp_id, OLD.salary, NEW.salary, NOW());
END;

```
Q5. Explain the need for data modelling and normalization when designing a database.


```
1. Data Modelling
What is Data Modelling?
Data modelling is the process of defining the structure of a database by identifying:

 1.Entities (tables)

 2.Attributes (columns)

 3.Relationships between entities

It is usually represented using ER diagrams.

2. Normalization
What is Normalization?
  Normalization is the process of organizing data to reduce redundancy and avoid data anomalies by dividing data into multiple related tables.

```
Q6. Write a CTE to calculate the total revenue for each product
 (Revenues = Price Ã— Quantity), and return only products where  revenue > 3000


```
WITH ProductRevenue AS (
    SELECT
        p.ProductID,
        p.ProductName,
        SUM(p.Price * s.Quantity) AS Revenue
    FROM Products p
    JOIN Sales s
        ON p.ProductID = s.ProductID
    GROUP BY p.ProductID, p.ProductName
)
SELECT *
FROM ProductRevenue
WHERE Revenue > 3000;

```
Q7. Create a view named that shows:
 Category, TotalProducts, AveragePrice.


```
CREATE VIEW CategorySummary AS
SELECT
    Category,
    COUNT(ProductID) AS TotalProducts,
    AVG(Price) AS AveragePrice
FROM Products
GROUP BY Category;

```
Q8. Create an updatable view containing ProductID, ProductName, and Price.
 Then update the price of ProductID = 1 using the view.


```
CREATE VIEW ProductPriceView AS
SELECT
    ProductID,
    ProductName,
    Price
FROM Products;

```
Q9. Create a stored procedure that accepts a category name and returns all products belonging to that
category


```
DELIMITER $$

CREATE PROCEDURE GetProductsByCategory (
    IN category_name VARCHAR(50)
)
BEGIN
    SELECT
        ProductID,
        ProductName,
        Category,
        Price
    FROM Products
    WHERE Category = category_name;
END $$

DELIMITER ;

```
Q10. Create an AFTER DELETE trigger on the Products table that archives deleted product rows into a new
table ProductArchive . The archive should store ProductID, ProductName, Category, Price, and DeletedAt
timestamp.

```
DELIMITER $$

CREATE TRIGGER after_product_delete
AFTER DELETE ON Products
FOR EACH ROW
BEGIN
    INSERT INTO ProductArchive (
        ProductID,
        ProductName,
        Category,
        Price,
        DeletedAt
    )
    VALUES (
        OLD.ProductID,
        OLD.ProductName,
        OLD.Category,
        OLD.Price,
        NOW()
    );
END $$

DELIMITER ;

```