#Note : Create the following dummy table in MySQL Workbench using CREATE FUNCTION-
Sample Table: Employees

| EmpID | EmpName      | Department | City      | Salary | HireDate   |
| ----: | ------------ | ---------- | --------- | -----: | ---------- |
|   101 | Rahul Mehta  | Sales      | Delhi     |  55000 | 2020-04-12 |
|   102 | Priya Sharma | HR         | Mumbai    |  62000 | 2019-09-25 |
|   103 | Aman Singh   | IT         | Bengaluru |  72000 | 2021-03-10 |
|   104 | Neha Patel   | Sales      | Delhi     |  48000 | 2022-01-14 |
|   105 | Karan Joshi  | Marketing  | Pune      |  45000 | 2018-07-22 |
|   106 | Divya Nair   | IT         | Chennai   |  81000 | 2019-12-11 |
|   107 | Raj Kumar    | HR         | Delhi     |  60000 | 2020-05-28 |
|   108 | Simran Kaur  | Finance    | Mumbai    |  58000 | 2021-08-03 |
|   109 | Arjun Reddy  | IT         | Hyderabad |  70000 | 2022-02-18 |
|   110 | Anjali Das   | Sales      | Kolkata   |  51000 | 2023-01-15 |

#Question 1 : Show employees working in either the ‘IT’ or ‘HR’ departments.


```
SELECT *
FROM Employee
WHERE Department IN ('IT', 'HR');

result:
| EmpID | EmpName      | Department | City      | Salary | HireDate   |
| ----: | ------------ | ---------- | --------- | -----: | ---------- |
|   102 | Priya Sharma | HR         | Mumbai    |  62000 | 2019-09-25 |
|   103 | Aman Singh   | IT         | Bengaluru |  72000 | 2021-03-10 |
|   106 | Divya Nair   | IT         | Chennai   |  81000 | 2019-12-11 |
|   107 | Raj Kumar    | HR         | Delhi     |  60000 | 2020-05-28 |
|   109 | Arjun Reddy  | IT         | Hyderabad |  70000 | 2022-02-18 |

```
#Question 2 : Retrieve employees whose department is in ‘Sales’, ‘IT’, or ‘Finance’.


```
SELECT *
FROM Employee
WHERE Department IN ('Sales', 'IT', 'Finance');

result:
| EmpID | EmpName     | Department | City      | Salary | HireDate   |
| ----: | ----------- | ---------- | --------- | -----: | ---------- |
|   101 | Rahul Mehta | Sales      | Delhi     |  55000 | 2020-04-12 |
|   103 | Aman Singh  | IT         | Bengaluru |  72000 | 2021-03-10 |
|   104 | Neha Patel  | Sales      | Delhi     |  48000 | 2022-01-14 |
|   106 | Divya Nair  | IT         | Chennai   |  81000 | 2019-12-11 |
|   108 | Simran Kaur | Finance    | Mumbai    |  58000 | 2021-08-03 |
|   109 | Arjun Reddy | IT         | Hyderabad |  70000 | 2022-02-18 |
|   110 | Anjali Das  | Sales      | Kolkata   |  51000 | 2023-01-15 |

```
#Question 3 : Display employees whose salary is between ₹50,000 and ₹70,000.


```
SELECT *
FROM Employee
WHERE Salary BETWEEN 50000 AND 70000;

result:
| EmpID | EmpName      | Department | City      | Salary | HireDate   |
| ----: | ------------ | ---------- | --------- | -----: | ---------- |
|   101 | Rahul Mehta  | Sales      | Delhi     |  55000 | 2020-04-12 |
|   102 | Priya Sharma | HR         | Mumbai    |  62000 | 2019-09-25 |
|   107 | Raj Kumar    | HR         | Delhi     |  60000 | 2020-05-28 |
|   108 | Simran Kaur  | Finance    | Mumbai    |  58000 | 2021-08-03 |
|   109 | Arjun Reddy  | IT         | Hyderabad |  70000 | 2022-02-18 |
|   110 | Anjali Das   | Sales      | Kolkata   |  51000 | 2023-01-15 |

```
#Question 4 : List employees whose names start with the letter ‘A’.



```
SELECT *
FROM Employee
WHERE EmpName LIKE 'A%';

result:

| EmpID | EmpName     | Department | City      | Salary | HireDate   |
| ----: | ----------- | ---------- | --------- | -----: | ---------- |
|   103 | Aman Singh  | IT         | Bengaluru |  72000 | 2021-03-10 |
|   109 | Arjun Reddy | IT         | Hyderabad |  70000 | 2022-02-18 |
|   110 | Anjali Das  | Sales      | Kolkata   |  51000 | 2023-01-15 |

```
#Question 5 : Find employees whose names contain the substring ‘an’.


```
SELECT *
FROM Employee
WHERE EmpName LIKE '%an%';

result:
| EmpID | EmpName     | Department | City      | Salary | HireDate   |
| ----: | ----------- | ---------- | --------- | -----: | ---------- |
|   103 | Aman Singh  | IT         | Bengaluru |  72000 | 2021-03-10 |
|   105 | Karan Joshi | Marketing  | Pune      |  45000 | 2018-07-22 |
|   108 | Simran Kaur | Finance    | Mumbai    |  58000 | 2021-08-03 |
|   110 | Anjali Das  | Sales      | Kolkata   |  51000 | 2023-01-15 |

```
#Question 6 : Show employees who are from ‘Delhi’ or ‘Mumbai’ and earn more than ₹55,000.


```
SELECT *
FROM Employee
WHERE City IN ('Delhi', 'Mumbai')
  AND Salary > 55000;

result:

| EmpID | EmpName      | Department | City   | Salary | HireDate   |
| ----: | ------------ | ---------- | ------ | -----: | ---------- |
|   102 | Priya Sharma | HR         | Mumbai |  62000 | 2019-09-25 |
|   107 | Raj Kumar    | HR         | Delhi  |  60000 | 2020-05-28 |
|   108 | Simran Kaur  | Finance    | Mumbai |  58000 | 2021-08-03 |

```
#Question 7 : Display all employees except those from the ‘HR’ department.


```
SELECT *
FROM Employee
WHERE Department <> 'HR';

result:

| EmpID | EmpName     | Department | City      | Salary | HireDate   |
| ----: | ----------- | ---------- | --------- | -----: | ---------- |
|   101 | Rahul Mehta | Sales      | Delhi     |  55000 | 2020-04-12 |
|   103 | Aman Singh  | IT         | Bengaluru |  72000 | 2021-03-10 |
|   104 | Neha Patel  | Sales      | Delhi     |  48000 | 2022-01-14 |
|   105 | Karan Joshi | Marketing  | Pune      |  45000 | 2018-07-22 |
|   106 | Divya Nair  | IT         | Chennai   |  81000 | 2019-12-11 |
|   108 | Simran Kaur | Finance    | Mumbai    |  58000 | 2021-08-03 |
|   109 | Arjun Reddy | IT         | Hyderabad |  70000 | 2022-02-18 |
|   110 | Anjali Das  | Sales      | Kolkata   |  51000 | 2023-01-15 |

```
#Question 8 : Get all employees hired between 2019 and 2022, ordered by HireDate (oldest first).


```
SELECT *
FROM Employee
WHERE HireDate BETWEEN '2019-01-01' AND '2022-12-31'
ORDER BY HireDate ASC;

result:
| EmpID | EmpName      | Department | City      | Salary | HireDate   |
| ----: | ------------ | ---------- | --------- | -----: | ---------- |
|   102 | Priya Sharma | HR         | Mumbai    |  62000 | 2019-09-25 |
|   106 | Divya Nair   | IT         | Chennai   |  81000 | 2019-12-11 |
|   101 | Rahul Mehta  | Sales      | Delhi     |  55000 | 2020-04-12 |
|   107 | Raj Kumar    | HR         | Delhi     |  60000 | 2020-05-28 |
|   103 | Aman Singh   | IT         | Bengaluru |  72000 | 2021-03-10 |
|   108 | Simran Kaur  | Finance    | Mumbai    |  58000 | 2021-08-03 |
|   104 | Neha Patel   | Sales      | Delhi     |  48000 | 2022-01-14 |
|   109 | Arjun Reddy  | IT         | Hyderabad |  70000 | 2022-02-18 |

```