Question 1. Retrieve all customers who have placed at least one order.


```
SELECT DISTINCT c.CustomerID, c.CustomerName, c.City
FROM Customers c
INNER JOIN Orders o
ON c.CustomerID = o.CustomerID;

result:

| CustomerID | CustomerName | City        |
| ---------- | ------------ | ----------- |
| 1          | John Smith   | New York    |
| 2          | Mary Johnson | Chicago     |
| 3          | Peter Adams  | Los Angeles |

```
Question 2. Retrieve all customers and their orders, including customers who have not placed any orders.


```
SELECT
    c.CustomerID,
    c.CustomerName,
    c.City,
    o.OrderID,
    o.OrderDate,
    o.Amount
FROM Customers c
LEFT JOIN Orders o
ON c.CustomerID = o.CustomerID;

result:
| CustomerID | CustomerName | City        | OrderID | OrderDate  | Amount |
| ---------- | ------------ | ----------- | ------- | ---------- | ------ |
| 1          | John Smith   | New York    | 101     | 2024-10-01 | 250    |
| 1          | John Smith   | New York    | 103     | 2024-10-07 | 150    |
| 2          | Mary Johnson | Chicago     | 102     | 2024-10-05 | 300    |
| 3          | Peter Adams  | Los Angeles | 104     | 2024-10-10 | 450    |
| 4          | Nancy Miller | Houston     | NULL    | NULL       | NULL   |
| 5          | Robert White | Miami       | NULL    | NULL       | NULL   |

```
Question 3. Retrieve all orders and their corresponding customers, including orders placed by unknown
customers.


```
SELECT
    o.OrderID,
    o.OrderDate,
    o.Amount,
    c.CustomerID,
    c.CustomerName,
    c.City
FROM Customers c
RIGHT JOIN Orders o
ON c.CustomerID = o.CustomerID;


result:
| OrderID | OrderDate  | Amount | CustomerID | CustomerName | City        |
| ------- | ---------- | ------ | ---------- | ------------ | ----------- |
| 101     | 2024-10-01 | 250    | 1          | John Smith   | New York    |
| 102     | 2024-10-05 | 300    | 2          | Mary Johnson | Chicago     |
| 103     | 2024-10-07 | 150    | 1          | John Smith   | New York    |
| 104     | 2024-10-10 | 450    | 3          | Peter Adams  | Los Angeles |
| 105     | 2024-10-12 | 400    | NULL       | NULL         | NULL        |

```
Question 4. Display all customers and orders, whether matched or not.


```
SELECT
    c.CustomerID,
    c.CustomerName,
    c.City,
    o.OrderID,
    o.OrderDate,
    o.Amount
FROM Customers c
LEFT JOIN Orders o
ON c.CustomerID = o.CustomerID

UNION

SELECT
    c.CustomerID,
    c.CustomerName,
    c.City,
    o.OrderID,
    o.OrderDate,
    o.Amount
FROM Customers c
RIGHT JOIN Orders o
ON c.CustomerID = o.CustomerID;

result:
| CustomerID | CustomerName | City        | OrderID | OrderDate  | Amount |
| ---------- | ------------ | ----------- | ------- | ---------- | ------ |
| 1          | John Smith   | New York    | 101     | 2024-10-01 | 250    |
| 1          | John Smith   | New York    | 103     | 2024-10-07 | 150    |
| 2          | Mary Johnson | Chicago     | 102     | 2024-10-05 | 300    |
| 3          | Peter Adams  | Los Angeles | 104     | 2024-10-10 | 450    |
| 4          | Nancy Miller | Houston     | NULL    | NULL       | NULL   |
| 5          | Robert White | Miami       | NULL    | NULL       | NULL   |
| NULL       | NULL         | NULL        | 105     | 2024-10-12 | 400    |

```
Question 5. Find customers who have not placed any orders.


```
SELECT
    c.CustomerID,
    c.CustomerName,
    c.City
FROM Customers c
LEFT JOIN Orders o
ON c.CustomerID = o.CustomerID
WHERE o.OrderID IS NULL;

result:
| CustomerID | CustomerName | City    |
| ---------- | ------------ | ------- |
| 4          | Nancy Miller | Houston |
| 5          | Robert White | Miami   |

```
Question 6. Retrieve customers who made payments but did not place any orders


```
SELECT
    c.CustomerID,
    c.CustomerName,
    c.City
FROM Customers c
INNER JOIN Payments p
    ON c.CustomerID = p.CustomerID
LEFT JOIN Orders o
    ON c.CustomerID = o.CustomerID
WHERE o.OrderID IS NULL;

result:
| CustomerID | CustomerName | City    |
| ---------- | ------------ | ------- |
| 4          | Nancy Miller | Houston |

```
Question 7. Generate a list of all possible combinations between Customers and Orders.


```
SELECT
    c.CustomerID,
    c.CustomerName,
    c.City,
    o.OrderID,
    o.OrderDate,
    o.Amount
FROM Customers c
CROSS JOIN Orders o;

```
Question 8. Show all customers along with order and payment amounts in one table.


```
SELECT
    c.CustomerID,
    c.CustomerName,
    c.City,
    o.OrderID,
    o.Amount AS OrderAmount,
    p.PaymentID,
    p.Amount AS PaymentAmount
FROM Customers c
LEFT JOIN Orders o
    ON c.CustomerID = o.CustomerID
LEFT JOIN Payments p
    ON c.CustomerID = p.CustomerID;

result;

| CustomerID | CustomerName | City        | OrderID | OrderAmount | PaymentID | PaymentAmount |
| ---------- | ------------ | ----------- | ------- | ----------- | --------- | ------------- |
| 1          | John Smith   | New York    | 101     | 250         | P001      | 250           |
| 1          | John Smith   | New York    | 103     | 150         | P001      | 250           |
| 2          | Mary Johnson | Chicago     | 102     | 300         | P002      | 300           |
| 3          | Peter Adams  | Los Angeles | 104     | 450         | P003      | 450           |
| 4          | Nancy Miller | Houston     | NULL    | NULL        | P004      | 200           |
| 5          | Robert White | Miami       | NULL    | NULL        | NULL      | NULL          |


```
#Question 9. Retrieve all customers who have both placed orders and made payments.


```
SELECT DISTINCT
    c.CustomerID,
    c.CustomerName,
    c.City
FROM Customers c
INNER JOIN Orders o
    ON c.CustomerID = o.CustomerID
INNER JOIN Payments p
    ON c.CustomerID = p.CustomerID;

result:
| CustomerID | CustomerName | City        |
| ---------- | ------------ | ----------- |
| 1          | John Smith   | New York    |
| 2          | Mary Johnson | Chicago     |
| 3          | Peter Adams  | Los Angeles |

```