#Q1. Create a New Database and  Table for Employees

Task: Create a new database named company_db and Create a table named employees with the following
columns:

```

CREATE DATABASE company_db;


USE company_db;

 Create employees table
CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    department VARCHAR(50),
    salary INT,
    hire_date DATE
);

```
#2. Insert Data into Employees Table

Task: Insert the following sample records into the employees table.


```
INSERT INTO employees (employee_id, first_name, last_name, department, salary, hire_date)
VALUES
(101, 'Amit',  'Sharma', 'HR',      50000, '2020-01-15'),
(102, 'Riya',  'Kapoor', 'Sales',   75000, '2019-03-22'),
(103, 'Raj',   'Mehta',  'IT',      90000, '2018-07-11'),
(104, 'Neha',  'Verma',  'IT',      85000, '2021-09-01'),
(105, 'Arjun', 'Singh',  'Finance', 60000, '2022-02-10');

```
# Q3. Display All Employee Records Sorted by Salary (Lowest to Highest)

Hint: Use the ORDER BY clause on the salary column.


```
SELECT *
FROM employees
ORDER BY salary ASC;

```
#Q4. Show Employees Sorted by Department (A–Z) and Salary (High → Low).


```
SELECT *
FROM employees
ORDER BY department ASC, salary DESC;



```
#Q5. List All Employees in the IT Department, Ordered by Hire Date (Newest First)


```
SELECT *
FROM employees
WHERE department = 'IT'
ORDER BY hire_date DESC;

Neha Verma → 2021-09-01

Raj Mehta → 2018-07-11

```
#Q6. Create and Populate a Sales Table

Task: Create a table sales to track sales data:


```
CREATE TABLE sales (
    sale_id INT PRIMARY KEY,
    customer_name VARCHAR(50),
    amount INT,
    sale_date DATE
);

INSERT INTO sales (sale_id, customer_name, amount, sale_date)
VALUES
(1, 'Aditi', 1500, '2024-08-01'),
(2, 'Rohan', 2200, '2024-08-03'),
(3, 'Aditi', 3500, '2024-09-05'),
(4, 'Meena', 2700, '2024-09-15'),
(5, 'Rohan', 4500, '2024-09-25');

```
#Q7. Display All Sales Records Sorted by Amount (Highest → Lowest)
 Hint: Use ORDER BY amount DESC.


```
SELECT *
FROM sales
ORDER BY amount DESC;

Rohan – 4500

Aditi – 3500

Meena – 2700

Rohan – 2200

Aditi – 1500

```
# Q8. Show All Sales Made by Customer “Aditi”

Hint: Use WHERE customer_name = 'Aditi'.


```
SELECT *
FROM sales
WHERE customer_name = 'Aditi';

Sale ID 1 → Amount 1500 → 2024-08-01

Sale ID 3 → Amount 3500 → 2024-09-05

```
#Q9. What is the Difference Between a Primary Key and a Foreign Key?


```
| Aspect              | Primary Key                                                                  | Foreign Key                                                              |
| ------------------- | ---------------------------------------------------------------------------- | ------------------------------------------------------------------------ |
| **Definition**      | A column (or set of columns) that uniquely identifies each record in a table | A column that creates a link between two tables                          |
| **Uniqueness**      | Must contain **unique** values                                               | Can contain **duplicate** values                                         |
| **NULL values**     | **NOT allowed**                                                              | **Allowed** (unless restricted)                                          |
| **Purpose**         | Ensures each record is uniquely identifiable                                 | Maintains **referential integrity**                                      |
| **Location**        | Defined in the **same table**                                                | Defined in the **child table**, refers to a primary key in another table |
| **Count per table** | Only **one** primary key per table                                           | A table can have **multiple** foreign keys                               |
| **Example**         | `employee_id` in `employees` table                                           | `employee_id` in `sales` table referencing `employees`                   |

```
#Q10. What Are Constraints in SQL and Why Are They Used?


```
| Constraint      | Description                               | Example                                             |
| --------------- | ----------------------------------------- | --------------------------------------------------- |
| **PRIMARY KEY** | Uniquely identifies each record; no NULLs | `employee_id PRIMARY KEY`                           |
| **FOREIGN KEY** | Links one table to another                | `FOREIGN KEY (emp_id) REFERENCES employees(emp_id)` |
| **NOT NULL**    | Prevents NULL values                      | `name VARCHAR(50) NOT NULL`                         |
| **UNIQUE**      | Ensures all values are unique             | `email UNIQUE`                                      |
| **CHECK**       | Limits value range                        | `salary CHECK (salary > 0)`                         |
| **DEFAULT**     | Assigns a default value                   | `status DEFAULT 'Active'`                           |

```